.c-circle {
  width: 300px;
  padding-bottom: 300px;
  position: relative;
  margin: auto;
}
.c-circle__view {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.c-circle__1,
.c-circle__2,
.c-circle__3,
.c-circle__4 {
  fill: transparent;
  stroke-width: 31.8309886184;
  stroke-dashoffset: 25;
}
.c-circle__1 {
  animation: one 5s infinite;
  /* stroke-dasharray: 25, 75, 0, 0; */
  stroke: blue;
}
.c-circle__2 {
  animation: two 5s infinite;
  /* stroke-dasharray: 0, 25, 75, 0; */
  stroke: #6666ff;
}
.c-circle__3 {
  animation: three 5s infinite;
  /* stroke-dasharray: 0, 50, 50, 25; */
  stroke: #9999ff;
}
.c-circle__4 {
  animation: four 5s infinite;
  /* stroke-dasharray: 0, 75, 25, 0; */
  stroke: #ccccff;
}

@keyframes one {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 25, 75, 0, 0;
  }
}

@keyframes two {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 25, 75, 0;
  }
}

@keyframes three {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 50, 50, 25;
  }
}
@keyframes four {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 75, 25, 0;
  }
}
