.c-circle {
  width: 300px;
  padding-bottom: 300px;
  position: relative;
  margin: auto;
}
.c-circle__view {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.c-circle__1,
.c-circle__2,
.c-circle__3,
.c-circle__4,
.c-circle__5,
.c-circle__6,
.c-circle__7 {
  fill: transparent;
  stroke-width: 31.8309886184;
  stroke-dashoffset: 25;
  --animation-time: 5s;
}
.c-circle__1 {
  animation: one var(--animation-time);
  -webkit-animation: one var(--animation-time);
  stroke-dasharray: 14.285, 85.715, 0, 0;
  stroke: #e24e1b;
}
.c-circle__2 {
  animation: two var(--animation-time);
  -webkit-animation: two var(--animation-time);
  stroke-dasharray: 0, 14.285, 14.285, 71.425;
  stroke: #ff9f1c;
}

.c-circle__3 {
  animation: three var(--animation-time);
  stroke-dasharray: 0, 28.57, 14.285, 57.14;
  stroke: #73bfb8;
}

.c-circle__4 {
  animation: four var(--animation-time);
  stroke-dasharray: 0, 42.855, 14.285, 42.86;
  stroke: #3da5d9;
}

.c-circle__5 {
  animation: five var(--animation-time);
  stroke-dasharray: 0, 57.14, 14.285, 28.57;
  stroke: #2364aa;
}

.c-circle__6 {
  animation: six var(--animation-time);
  stroke-dasharray: 0, 71.425, 14.285, 14.285;
  stroke: var(--green);
}
/* 9999ff*/
.c-circle__7 {
  animation: seven var(--animation-time);
  stroke-dasharray: 0, 85.715, 14.285, 0;
  stroke: #8d3b72;
}

@keyframes one {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  25%,
  100% {
    stroke-dasharray: 14.285, 85.715, 0, 0;
  }
}

@keyframes two {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 14.285, 14.285, 71.425;
  }
}

@keyframes three {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 28.57, 14.285, 57.14;
  }
}
@keyframes four {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 42.855, 14.285, 42.86;
  }
}

@keyframes five {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 57.14, 14.285, 28.57;
  }
}

@keyframes six {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    stroke-dasharray: 0, 71.425, 14.285, 14.285;
  }
}

@keyframes seven {
  0% {
    stroke-dasharray: 0, 0, 0, 100;
  }
  50%,
  100% {
    /* stroke-dasharray: 0, calc(100/7*6), calc(100/7), 0; */
    stroke-dasharray: 0, 85.715, 14.285, 0;
  }
}
