@charset "UTF-8";

* {
  --red: #E3170A;
  --white: #FDFFFC;
  --black: #3C3744;
  --green: #8EA604;
}

html {
  /* height: 100%; */
  color: --var(--black);
}

body {
  /* height: 100%; */
  background-color: var(--white);
}


.hero {
  min-height: 100vh;
}
.hero-header {
  height: 5vh;
}
.hero-body {
  height: 95vh;
}
/* color */
.is-dark {
  background-color: var(--black);
  /* color: aliceblue; */
}

.is-blue {
  background-color: #2364AA;
}

.is-green {
  background-color: var(--green);
}

.container {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
}

/* Main Page */
/* 円形 */
.pie {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: yellowgreen;
  /* background-image: linear-gradient(to right, transparent 50%, #655 0); */
}

/* Progress Bar */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: violet;
}
