@charset "UTF-8";

:root {
  --red: #e3170a;
  --red_dark: #c0392b;
  --white: #fdfffc;
  --black: #3c3744;
  --green: #8ea604;
  --orange: #ff9f1c;
  --blue: #2364aa;
  --purple: #8e44ad;

  /* 余白設定 */
  /* margin: 0; */
}

html {
  /* height: 100%; */
  color: --var(--black);
  /* font-size: 100%; */
  font-family: "Noto Sans JP";
  /* font-family: "M PLUS Rounded 1c"; */
  /* font-family: "M PLUS 1p"; */
}

body {
  /* height: 100%; */
  background-color: var(--white);
}

/* color */
.is-dark {
  background-color: var(--black);
  /* color: aliceblue; */
}

.is-blue {
  background-color: var(--blue);
}

.is-green {
  background-color: var(--green);
}

.is-white {
  background-color: var(--white);
}

.is-red {
  background-color: var(--red);
}

.is-purple {
  background-color: var(--purple);
}

.is-orange {
  background-color: var(--orange);
}

.is-red-dark {
  background-color: var(--red_dark);
}

.has-text-black {
  color: var(--black);
}

.has-text-white {
  color: var(--white);
}

.has-text-orange {
  color: var(--orange);
}
.table-title {
  margin-top: 15px;
  color: var(--black);
}

.t-body {
  background-color: var(--orange);
}

.card {
  margin-bottom: 10px;
  width: 100%;
  color: var(--grai);
}

.card-title {
  text-shadow: 0.5px 0.5px 0.5px var(--grai);
  /* text-shadow: 1px 1px 0 var(--cream); */
}


svg {
  background-color: var(--white);
}